<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Crear Empleado</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <h1>Crear Nuevo Empleado</h1>

        <!-- Mostrar error si lo hay -->
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <form th:action="@{/empleados/crear}" th:object="${empleado}" method="post">
            <label>Nombre:</label><br>
            <input type="text" th:field="*{nombre}" required/><br><br>

            <label>Cédula:</label><br>
            <input type="number" th:field="*{cedula}" required/><br><br>

            <label>Correo:</label><br>
            <input type="email" th:field="*{correo}" required/><br><br>

            <label>Teléfono:</label><br>
            <input type="number" th:field="*{telefono}" required/><br><br>

            <label>Fecha de Ingreso:</label><br>
            <input type="date" th:field="*{fechaIngreso}" required/><br><br>

            <label for="nombreHotel">Hotel:</label>
            <select th:field="*{nombreHotel}">
                <option th:each="hotel : ${hoteles}" th:value="${hotel}" th:text="${hotel}"></option>
            </select>
            
            <br>

            <label for="nombrePuesto">Puesto:</label>
            <select th:field="*{nombrePuesto}">
                <option th:each="puesto : ${puestos}" th:value="${puesto}" th:text="${puesto}"></option>
            </select>
            
            <br>

            <button type="submit">Guardar</button>
        </form>

        <br>
        <a th:href="@{/empleados}">Volver al listado</a>

    </body>
</html>
