<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Empleados</title>
    </head>
    <body>
        <h1>Empleados</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Fecha Ingreso</th>
                    <th>Hotel</th>
                    <th>Puesto</th>
                    <th>Accion</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="e : ${empleados}">
                    <td th:text="${e.idEmpleado}"></td>
                    <td th:text="${e.nombre}"></td>
                    <td th:text="${e.cedula}"></td>
                    <td th:text="${e.correo}"></td>
                    <td th:text="${e.telefono}"></td>
                    <td th:text="${e.fechaIngreso}"></td>
                    <td th:text="${e.nombreHotel}"></td>
                    <td th:text="${e.nombrePuesto}"></td>
                    <td>
                        <a th:href="@{'/empleados/eliminar/' + ${e.idEmpleado}}" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar este empleado?');">Eliminar</a></td>


                </tr>
            </tbody>
        </table>
    </body>
</html>
